@mixin buttonDegrade {
    border-style: none;
    border-radius: 25px;
    height: 3.5em;
    align-content: center;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 2.5em;
    padding-right: 2.5em;
    margin: 0 auto;
    width: max-content;
    background: linear-gradient(to right bottom, $secondary 5%, $primary);
    color: #ffffff;
    font-size: 1em;
}

@mixin mq($breakpoint) {
    @if map-has-key($breakpoints, $breakpoint) {
        @media screen and (min-width: map-get($breakpoints, $breakpoint)) {
            @content;
        }
    }
    @else if type-of($breakpoint)==number and unit($breakpoint)=='px' {
        @media screen and (min-width: $breakpoint) {
            @content;
        }
    }
}