.productMainContainer {
    display: flex;
    justify-content: center;
    background: #aaa3a9;
    padding: 2em 0 2em 0;
}

.productContainer {
    border-radius: 15px;
    background: #f3f1e9;
    display: flex;
    flex-direction: column;
    margin: 3em 0 5em 0;
    padding: 2em;
    //height: fit-content;
    @include mq(small) {
        width: fit-content;
        border-radius: 0;
    }
    @media screen and (min-width: 769px) and (max-width: 1440px) {
        margin: 0 0 5em 0;
    }
}

.produitImg {
    display: block;
    border-radius: 15px;
    height: 300px;
    width: 400px;
    @include mq(small) {
        height: 200px;
        width: 300px;
    }
    @media screen and (min-width: 769px) and (max-width: 1440px) {
        height: 200px;
        width: 300px;
    }
}

.produitName {
    margin-top: 1em;
    align-self: center;
    font-size: 36px;
    @include mq(small) {
        font-size: 16px;
    }
    @media screen and (min-width: 769px) and (max-width: 1440px) {
        font-size: 16px;
    }
}

.produitPrice {
    margin-top: .5em;
    align-self: center;
    font-size: 20px;
    font-weight: bold;
    @include mq(small) {
        font-size: 16px;
    }
    @media screen and (min-width: 769px) and (max-width: 1440px) {
        font-size: 16px;
    }
}

.produitDesc {
    width: 20em;
    margin-top: 1em;
    align-self: center;
    font-size: 20px;
    @include mq(small) {
        font-size: 15px;
    }
    @media screen and (min-width: 769px) and (max-width: 1440px) {
        font-size: 15px;
    }
}

.labelLentilles {
    margin-top: 1em;
    font-size: 20px;
    font-weight: bold;
    @include mq(small) {
        font-size: 15px;
    }
    @media screen and (min-width: 769px) and (max-width: 1440px) {
        font-size: 15px;
    }
}

#lentilles {
    height: 2em;
    width: 50%;
    align-self: center;
    border: none;
    @include mq(small) {
        justify-self: left;
    }
}

.addPanier {
    background-color: #0082b0;
    border: 1px solid #0082b0;
    color: #eee;
    padding: .4em 1em;
    border-radius: 10px;
    margin: 1em 0;
    align-self: center;
    height: 3em;
    width: 10em;
    font-size: 16px;
    @include mq(small) {}
}