.panier {
    display: flex;
    height: 84vh;
    position: relative;
    &__contenu {
        //surement à effacer en bas
        width: 50%;
        position: relative;
        &-affichage {
            border: 2px solid green;
            padding: 5em;
            position: absolute;
            top: 7%;
            left: 40%;
        }
    }
    &__formulaire {
        width: 50%;
        position: relative;
    }
}

.formulaireContainer {
    display: grid;
    grid-template-rows: 4em 1fr;
    padding: 3em;
    height: 100%;
    //background: #aaa3a9;
    & h2 {
        align-self: center;
    }
    & form {
        padding: 2em;
        display: grid;
        row-gap: 1em;
    }
}

.form-block {
    display: flex;
}

.form-label {
    width: 5em;
    font-size: 2em;
}

.form-input {
    height: 2.6em;
    margin-left: .5em;
    width: 20em;
    border: 0;
    box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
}

button[type=submit] {
    font-size: 1.5em;
    width: 15em;
    justify-self: center;
}