.footer {
    padding: 2.5em 5%;
    display: flex;
    flex-direction: column;
    background: #f3e9f1;
    border-top: 1px solid black;
    @include mqmin(large) {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        justify-items: right;
    }
    &__item-icon {
        margin-bottom: .3em;
        @include mqmin(medium) {
            margin-bottom: .5em;
        }
        & i {
            font-size: .8em;
            margin-right: .5em;
        }
        & a {
            @include mqmin(medium) {
                font-size: 1.1em;
                text-decoration: none;
            }
        }
    }
    &__item {
        margin-bottom: .3em;
        color: #000;
        @include mqmin(medium) {
            font-size: 1.1em;
            margin-bottom: .5em;
            text-decoration: none;
        }
    }
}